@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 80px;
  color: #d7f6f2;
}